<script type="text/javascript" charset="utf-8">
    DILUVIA_SESSION = "<%= sessionId %>";
    PLAY_MUSIC = false;
</script>

<div id="editor_dashboard">
  <div class="editzone">
    <form action="/zones/save" method="post">
      <div>
         <select name="zone[id]">
            <% var editingZone;%>
            <% for (zid in zones) { %>
              <% if (zones[zid].id === editingZoneId) { editingZone = zones[zid];} %>
              <option value="<%=zones[zid].id%>"><%=zones[zid].name%></option>
            <%}%>
         </select>
         <a style="color:#DDD;" href="/zones/new">Add new zone</a>
      </div>
      <div>
         <label for="zone[name]">Name:</label><input type="text" name="zone[name]" value="<%=editingZone.name%>" />, 
         <label for="zone[width]">W</label><input type="text" name="zone[width]" size="4" value="<%=editingZone.width%>"/> x <label for="zone[height]">H</label><input type="text" name="zone[height]" size="4" value="<%=editingZone.height%>"/>
         <input type="submit" value="save"/>
         <a href="#" id="tile_chooser_link">Choose Tile</a>
      </div>
      <% if (false) { %>
      <textarea rows="40" cols="150" name="zone[config]">
      <%=JSON.stringify(zones[zid].config)%>
      </textarea>
      <% } %>
    </form>
  </div>
</div>

<div id="loading"><img src="/images/icons/loading_b.gif" /></div>
<div id="tile_chooser"><canvas height="500" width="500"></canvas></div>
<div id="connection-lost">Connection lost. Retrying... <img src='/images/icons/loading_w.gif' /></div>

<div id="viewport_container">
    <canvas id="viewport" height="4096" width="4096"></canvas>
</div>

<script type="text/javascript" charset="utf-8">
    document.style = "height: 100%; width: 100%";
    
    function size_element(element) {
      element.css({
          'width': $(window).width() + "px",
          'height': $(window).height() - $('editor_dashboard').outerHeight() + "px"
      });
    }
    
    $(document).ready(function() {
        var diluvia = new DiluviaController({
          mode:          "editor",
          socket_host:   "<%=SOCKET_IO_HOSTNAME%>", 
          socket_params: <%=SOCKET_IO_OPTIONS%>,
          on_connect:    function(){this.initWorldView();}
        });
        size_element($('#viewport_container'));
        size_element($('#main'));
        
        $(window).resize(function() {
          size_element($('#viewport_container'));
          size_element($('#main'));
          diluvia.repaintCanvas();
        });        
    });
</script>
