<script type="text/javascript" charset="utf-8">
    DILUVIA_SESSION = "<%= sessionId %>";
    PLAY_MUSIC = false;
</script>

<div id="editor_dashboard">
  <div class="editzone">
    <form action="/zones/save" method="post">
      <div class="inline-menu">
        <div>
          Zone:
          <select name="zone[id]" id="zone-selector">
             <% var editingZone;%>
             <% for (zid in zones) { %>
               <% if (zones[zid].id == editingZoneId) { 
                    editingZone = zones[zid];
                %>
               <option value="<%=zones[zid].id%>" selected="true"><%=zones[zid].name%></option>
               <% } else { %>
               <option value="<%=zones[zid].id%>"><%=zones[zid].name%></option>
               <% } %>
             <%}%>
          </select>
          <a href="#" id="edit_zone_link">Edit Zone Info</a>
        </div>
        <div><a href="/zones/new">Add new zone</a></div>
      </div>      
      <div class="inline-menu" id="edit_menu">
         <div id="menu-info"></div>
         <div>
             <a href="#" id="eraser_link" data-info="Erase Tiles from Current Layer"><img src="/images/icons/bullet_delete.png"/></a>
             <a href="#" id="tile_chooser_link" data-info="Paint Tiles on Current Layer"><img src="/images/icons/paintbrush.png"/></a>
             <a href="#" id="layer_chooser_link" data-info="Choose Layer to Edit"><img src="/images/icons/layers.png"/></a>
             <a href="#" id="portal_edit_link" data-info="Create/Edit Portals"><img src="/images/icons/map_edit.png"/></a>
        </div>
      </div>
      <div style="clear: both;"></div>
      <% if (false) { %>
      <textarea rows="40" cols="150" name="zone[config]">
      <%=JSON.stringify(zones[zid].config)%>
      </textarea>
      <% } %>
    </form>
  </div>
</div>

<div id="loading"><img src="/images/icons/loading_b.gif" /></div>
<div id="chooser"><canvas height="500" width="500"></canvas></div>
<div id="connection-lost">Connection lost. Retrying... <img src='/images/icons/loading_w.gif' /></div>

<div id="viewport_container">
    <canvas id="viewport" height="4096" width="4096"></canvas>
</div>

<script type="text/javascript" charset="utf-8">
    document.style = "height: 100%; width: 100%";
    
    function size_element(element) {
      element.css({
          'width':  ($(window).width() - 20) + "px",
          'height': ($(window).height() - 140) + "px"
      });
    }
    
    $(document).ready(function() {
        var diluvia = new DiluviaController({
          mode:          "editor",
          socket_host:   "<%=SOCKET_IO_HOSTNAME%>", 
          socket_params: <%=SOCKET_IO_OPTIONS%>,
          on_connect:    function(){this.initWorldView();}
        });
        size_element($('#viewport_container'));
        size_element($('#main'));
        
        $(window).resize(function() {
          size_element($('#main'));
          size_element($('#viewport_container'));
          diluvia.repaintCanvas();
        });        
    });
</script>
