<script type="text/javascript" charset="utf-8">
    DILUVIA_SESSION = "<%= sessionId %>";
    PLAY_MUSIC = false;
</script>

<div id="editor_dashboard">
  <div>
    <select>
      <% for (zid in zones) { %>
        <option value="1"><%=zones[zid].id%></option>
      <%}%>
    </select>
    <a style="color:#DDD;" href="/zones/new">Add new zone</a>
  </div>
  <div class="editzone">
    <form action="/zones/save" method="post">
      <input type="hidden" name="zone[id]" value="<%=zones[zid].zoneId%>"/>
      <p>
         <input type="submit" value="save"/>
         <label for="zone[name]">Name:</label><input type="text" name="zone[name]" />, 
         <label for="zone[width]">W</label><input type="text" name="zone[width]" size="4"/> x <label for="zone[height]">H</label><input type="text" name="zone[name]" size="4"/>
      </p>
      <textarea rows="40" cols="150" name="zone[config]">
      <%=JSON.stringify(zones[zid].config)%>
      </textarea>
    </form>
  </div>
</div>

<div id="viewport_container">
    <canvas id="viewport" height="4096" width="4096"></canvas>
</div>

<script type="text/javascript" charset="utf-8">
    document.style = "height: 100%; width: 100%";
    
    function size_element(element) {
      element.css({
          'width': $(window).width() + "px",
          'height': $(window).height() - $('editor_dashboard').outerHeight() + "px"
      });
    }
    
    $(document).ready(function() {
        var diluvia = new DiluviaController({
          socket_host: "<%=SOCKET_IO_HOSTNAME%>", 
          socket_params: <%=SOCKET_IO_OPTIONS%>,
          on_connect: function(){this.initWorldView();}
        });
        size_element($('#viewport_container'));
        size_element($('#main'));
        
        $(window).resize(function() {
          size_element($('#viewport_container'));
          size_element($('#main'));
          diluvia.repaintCanvas();
        });        
    });
</script>
