<script type="text/javascript" charset="utf-8">
    DILUVIA_SESSION = "<%= sessionId %>";
    PLAY_MUSIC = false;
</script>

<div id="editor_dashboard">
  <div>
    <select>
      <% for (zid in zones) { %>
        <option value="1"><%=zones[zid].id%></option>
      <%}%>
    </select>
    <a style="color:#DDD;" href="/zones/new">Add new zone</a>
  </div>
  <div class="editzone">
    <form action="/zones/save" method="post">
      <input type="hidden" name="zone[id]" value="<%=zones[zid].zoneId%>"/>
      <p>
         <input type="submit" value="save"/>
         <label for="zone[name]">Name:</label><input type="text" name="zone[name]" />, 
         <label for="zone[width]">W</label><input type="text" name="zone[width]" size="4"/> x <label for="zone[height]">H</label><input type="text" name="zone[name]" size="4"/>
      </p>
    </form>
  </div>
</div>

<div id="viewport_container">
    <canvas id="viewport"></canvas>
</div>

<script type="text/javascript" charset="utf-8">
    document.style = "height: 100%; width: 100%";
    
    function size_element(element) {
      element.css({
          'width': $(window).width() + "px",
          'height': $(window).height() - $('editor_dashboard').outerHeight() + "px"
      });
    }
    
    $(document).ready(function() {
        Crafty.init(50);
        Crafty.canvas();
        Crafty.load(
            ['images/sprites.png',
             'images/glow.png',
             'images/background_island.png'], 
            function() {
                Crafty.sprite(64, "images/sprites.png", {
                    ship: [0,0],
                    big: [1,0],
                    medium: [2,0],
                    small: [3,0]
                });
                
                Crafty.scene("main");
             }
        );
        gamejs.ready(function() {
            var diluvia = new DiluviaController(gamejs, {
              mode:          "edit",
              socket_host:   "<%=SOCKET_IO_HOSTNAME%>", 
              socket_params: <%=SOCKET_IO_OPTIONS%>,
              on_connect:    function(){this.initWorldView();}
            });
            
            size_element($('#viewport_container'));
            size_element($('#main'));
            
            $(window).resize(function() {
                size_element($('#viewport_container'));
                size_element($('#main'));
                diluvia.repaintCanvas();
            });
            
        });
    });
</script>
