<script type="text/javascript" charset="utf-8">
    DILUVIA_SESSION = "<%= sessionId %>";
    PLAY_MUSIC = false;
    $("div#welcome").html("<div><a href='/play'>Play Mode</a></div>");
</script>

<div id="editor_dashboard">
  <div class="editzone">
    <form action="/zones/save" method="post">
      <div class="inline-menu">
          Zone:
          <select name="zone[id]" id="zone-selector">
             <% var editingZone;%>
             <% for (zid in zones) { %>
               <% if (zones[zid].id == editingZoneId) { 
                    editingZone = zones[zid];
                %>
               <option value="<%=zones[zid].id%>" selected="true"><%=zones[zid].name%></option>
               <% } else { %>
               <option value="<%=zones[zid].id%>"><%=zones[zid].name%></option>
               <% } %>
             <%}%>
          </select>
          <span><a href="#" id="edit_zone_link">Edit Zone Info</a></span>
          <span><a href="/zones/new">Add new zone</a></span>
          <div><form action="/editor/save"><input type="submit" id="save-button" value="save your changes"/></form><span id="save-msg"></span></div>
      </div>
      <div class="inline-menu" id="edit_menu">
        <span>
          <a href="#" id="eraser_link" data-info="Erase Tiles from Current Layer"><img src="/images/icons/eraser.png"/></a>
          <a href="#" id="tile_chooser_link" data-info="Paint Tiles on Current Layer"><img src="/images/icons/paintbrush.png"/></a>
          <a href="#" id="layer_chooser_link" data-info="Choose Layer to Edit"><img src="/images/icons/layers.png"/></a>
          <a href="#" id="portal_edit_link" data-info="Create/Edit Portals"><img src="/images/icons/map_edit.png"/></a>
        </span>
        <span id="menu-info"></span>
      </div>
      <div style="clear: both;"></div>
      <% if (false) { %>
      <textarea rows="40" cols="150" name="zone[config]">
      <%=JSON.stringify(zones[zid].config)%>
      </textarea>
      <% } %>
    </form>
  </div>
</div>

<div id="loading"><img src="/images/icons/loading_b.gif" /></div>
<div id="chooser"><canvas height="500" width="500"></canvas></div>
<div id="connection-lost">Connection lost. Retrying... <img src='/images/icons/loading_w.gif' /></div>

<div id="viewport_container">
    <canvas id="viewport" height="4096" width="4096"></canvas>
</div>

<script type="text/javascript" charset="utf-8">
    document.style = "height: 100%; width: 100%";
    
    function size_element(element) {
      element.css({
          'width':  ($(window).width() - 20) + "px",
          'height': ($(window).height() - 140) + "px"
      });
    }
    
    $(document).ready(function() {
        var diluvia = new DiluviaController({
          mode:          "editor",
          on_connect:    function(){this.initWorldView();}
        });
        size_element($('#viewport_container'));
        size_element($('#main'));
        
        $("#save-button").click(function(ev){
            ev.preventDefault();
            $.ajax({
                url: "/editor/save",
                success: function() {
                 $("#save-msg").html("saved").show().fadeOut(5000);
                }
            });
        });
        
        $(window).resize(function() {
          size_element($('#main'));
          size_element($('#viewport_container'));
          diluvia.repaintCanvas();
        });        
    });
</script>
