<script type="text/javascript" charset="utf-8">
    DILUVIA_SESSION = "<%= sessionId %>";
    PLAY_MUSIC = false;
</script>


<header class="editor">
  <div class="header-item"><a href="/"><img src="/images/logo.png" alt="Diluvia" id="logo"></a></div>
  <div id="editor_dashboard">
    <div class="inline-menu">
        Zone:
        <select name="zone[id]" id="zone-selector">
           <% var editingZone;%>
           <% for (zid in zones) { %>
             <% if (zones[zid].id == editingZoneId) { 
                  editingZone = zones[zid];
              %>
             <option value="<%=zones[zid].id%>" selected="true"><%=zones[zid].name%></option>
             <% } else { %>
             <option value="<%=zones[zid].id%>"><%=zones[zid].name%></option>
             <% } %>
           <%}%>
        </select>
        <span><a href="#" id="edit_zone_link">Edit Zone Info</a></span>
        <span><a href="/zones/new">Add new zone</a></span>
        <div>
            <button class="disabled" id="save-button">saved</button>
            <span id="save-msg"></span>
        </div>
    </div>
    <div class="inline-menu" id="edit_menu">
       <a href="#" id="tile_chooser_link" data-info="Choose Item to Draw">
         <div id="edit_tile_preview" class="tile_image_preview" style="background-image: url(/images/sprites.png); background-position: -640px -640px;">
         </div>
       </a>
    </div>
    <div class="inline-menu" id="edit_menu">
      <span>
        <a href="#" id="tile_edit_link" data-info="Edit Tiles"><img src="/images/icons/tile_edit.png"/></a>
        <a href="#" id="object_edit_link" data-info="Edit Objects"><img src="/images/icons/object_edit.png"/></a>
        <%if (false) {%><a href="#" id="actor_edit_link" data-info="Edit Actors"><img src="/images/icons/actor_edit.png"/></a><%}%>
      </span>
     </div>
     <div class="inline-menu" id="edit_menu">
      <div>
        <a href="#" id="eraser_link" data-info="Erase Tiles from Current Layer"><img src="/images/icons/eraser.png"/></a>
        <a href="#" id="portal_edit_link" data-info="Edit Portals"><img src="/images/icons/portal_edit.png"/></a>
        <% if (false) { %><a href="#" id="spawn_edit_link" data-info="Set Spawn Point"><img src="/images/icons/spawn_edit.png"/></a><% } %>
        <a href="#" id="zoom_out_link" data-info="Zoom Out"><img src="/images/icons/zoom_out.png"/></a>
        <a href="#" id="zoom_in_link" data-info="Zoom In"><img src="/images/icons/zoom_in.png"/></a>
      </div>
      <div id="menu-info"></div>
    </div>
    <div style="clear: both;"></div>
    <% if (false) { %>
    <textarea rows="40" cols="150" name="zone[config]">
    <%=JSON.stringify(zones[zid].config)%>
    </textarea>
    <% } %>
  </div>
  <div class="header-item" id="user-login">
     <span id="header-links"><a id="account" href="#"><%= everyauth.user._username %></a> (<a class="logout" href="/logout">logout</a>) </span>
     <div><a href='/play'>Play Mode</a></div>
  </div>
</header>
<div id="main">
    <div id="loading"><img src="/images/icons/loading_b.gif" /></div>
    <div id="connection-lost">Connection lost. Retrying... <img src='/images/icons/loading_w.gif' /></div>
    <div id="viewport_container">
        <canvas id="viewport" height="4096" width="4096"></canvas>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    document.style = "height: 100%; width: 100%";
    
    function size_element(element) {
      element.css({
          'width':  ($(window).width()) + "px",
          'height': ($(window).height() - 80) + "px"
      });
    }
    
    $(document).ready(function() {
        var diluvia = new DiluviaController({
          mode:          "editor",
          on_connect:    function(){this.initWorldView();}
        });
        size_element($('#viewport_container'));
        size_element($('#main'));
        
        $(window).resize(function() {
          size_element($('#main'));
          size_element($('#viewport_container'));
          diluvia.repaintCanvas();
        });        
    });
</script>
