<div style="background: url('/images/striped_bg.png');">
<% var baseTiles = [];
   var wallTiles = [];
   var painTiles = [];
   var goalTiles = [];
%>
<% for (t in tiles) {
       if (tiles[t].class === "Tile" || tiles[t].class === "WallTile") {
         baseTiles.push(tiles[t]);
       } else if (tiles[t].class === "ActorTile") {
         // 
       } else if (tiles[t].class === "PlayerSpawnTile") {
         //
       } else if (tiles[t].class === "PainTile") {
         painTiles.push(tiles[t]);
       } else if (tiles[t].class === "GoalTile") {
         goalTiles.push(tiles[t]);
       }
       var imgInfo = tiles[t].image.split(":") 
       var imgCoords = imgInfo[1].split(",");
       var bgX = imgCoords[0]*64;
       var bgY = imgCoords[1]*64; %>
<div class="tile_image" data-tileId="<%=t%>" data-tileName="<%=tiles[t].name%>" data-tileInfo="<%=tiles[t].image%>" style="background-image: url(/images/<%=imgInfo[0]%>); background-position: -<%=bgX%>px -<%=bgY%>px;">
</div>
<% } %>
<div style="clear: both;"></div>
</div>
